* {
    margin: px;
    padding: 0;
}

body {
    font-family: system-ui;
}

.container1 {
    background: grey;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}
.logop{
    background: green;
    padding: 10px;
    margin: 10px;
}

.navp {
    background: green;
    padding: 10px;
    margin: 10px;
}

.container2 {
    border: 1px solid black;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: grey;
    margin-bottom: 10px;
}
.container3 {
    border: 1px solid black;
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: grey;
    margin-bottom: 10px;
}
.tilbud1 {
    background: green;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 60px;
    margin: 10px;
    
}
.tilbud2 {
    background: green;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    margin: 10px;
}
.tilbud3 {
    background: green;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 120px;
    margin: 10px;
}
.container4 {
    border: 1px solid black;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: grey;
    width: 100%;
    margin-bottom: 10px;
}
.container5 {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background: grey;
    width: 100%;
    margin-bottom: 10px;
}

@media screen and (min-width: 785px) {
    .navp{
        width: 400px;
    }
    .container2 {
        width: 50%;
        
    }
    .container4 {
        width: 50%;
        order: ;
        
    }
    .container3 {
        flex-direction: row-reverse;
        order: -1;
    }
}